<h2><%= $user_new_twitter %></h2>

<div class="inside">
    <form action="/users/create_twitter" method="post">
        <fieldset>
            <p>TwitterアカウントIDを入力してください。</p>
            <input type="text" name="screen_name" placeholder="例: sugimori" class="input-large search-query" pattern="[a-zA-Z0-9_]{3,30}" required>
            <input type="submit" value="<%= $button_submit %>" class="btn btn-primary btn-large">
            <p>あなたの名前、プロフィール画像URLを取得します。<br />
               あなたが読んだ本の冊数を記録することができます。<br />
               勝手に投稿することはありません。</p>
        </fieldset>
    </form>
</div>

<h2><%= $user_new_name %></h2>

<div class="inside">
    <form action="/users/create_name" method="post">
        <fieldset>
            <p>あなたの名前を入力してください。</p>
            <input type="text" name="name" placeholder="例: 杉森" class="input-large search-query" required>
            <input type="submit" value="<%= $button_submit %>" class="btn btn-primary btn-large">
        </fieldset>
    </form>
</div>
