@import "bootstrap";
@import "bootstrap-responsive";

body { font-size: 18px; }

.center {
    text-align:center;
    margin: 0 auto;
}

.table {
    .center {
        text-align: center;
        vertical-align: middle;
    }

    .title {
        vertical-align: middle;
        width: 30%
    }
}

@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
}