@import "bootstrap";
@import "bootstrap-responsive";

@media (max-width: 767px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
}

body {
    font-size: 16px;
}

.content {
    padding: 10px 0px;
}

h2 {
    font-size: 20px;
    border-left:7px solid #ccc;
    border-bottom:1px dashed #ccc;
    padding:.2em .4em;
    margin: 10px;
}

.center-horizontal {
    text-align:center;
    margin: 5px auto;
}

.row-thumb {
    text-align:center;
    vertical-align:middle;
    margin: 10px auto;
}

.row-table {
    margin: 10px auto;
}

.table {
    td {
        text-align: center;
        vertical-align: middle;
    }

    .title {
        vertical-align: middle;
        width: 30%
    }

    .name {
        font-size: 12px;
    }

    .btn {
            margin: 5px 10px;
    }
}

.inside {
    margin: 5px 15px;
    padding: 10px;
}

form input.search-query {
    font-size: 20px;
    height: 35px;
}

input[type="submit"] {
    margin: 10px;
}